<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/statics/list.css">
</head>
<body style="background-color:#64a174;">
<a href="/index"><img width="30" heigth="30" src="/statics/back-arrow.png"/></a><br/><br/><br/>
<div align="center">
<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Availability</th>
  </tr>
  {{ range . }}
  <tr>
    <td><a href="/product?id={{ .Id }}">{{ .Name }}</a></td>
    <td width="15%">{{ .Price }}</td>
    {{ if .Stat }}
    <td width="15%" style="color:green;">In stock</td>
    {{ else }}
    <td width="15%" style="color:red;">Out of stock</td>
    {{ end }}
  </tr>
  {{ end }}
</table>
</div>
</body>
</html>
