<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/statics/login.css">
</head>
<body>
<div class="wrapper">
	<div class="container">
		<h1>Admin Login</h1>
		<form class="form" method="POST">
			<input name="username" type="text" placeholder="Username">
			<input name="password" type="password" placeholder="Password">
			<button>Login</button>
		</form>
	</div>
  {{ if . }}
  <center><b>{{ . }}</b></center>
   {{ end }}
	<ul class="bg-bubbles"><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
</div>
</body>
</html>
